{% extends "::base.html.twig" %}
{% block stylesheets_appli %}
<link rel="stylesheet" href="{{ asset('css/cine.css') }}" type="text/css" />

{% endblock stylesheets_appli %}

{% block body %}
<div>{% block content %}{% endblock content %}</div>
{% endblock body %}
